<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/notifications.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:3000/homepage">Home</a>
      <img src="http://localhost:3000/icons/white_bell.png" width="50" height="40" class="bell">
      <a class="active" href="http://localhost:3000/profile" style="float: right;">Profile</a>
      <a class="active" href="http://localhost:3000/logout" style="float: right;">Logout</a>
    </div>


    <div class="notifications" id="notifications" style="display:none; height: 350px; overflow-y: auto;">
      <% for(var i=0; i < notifications.length; i++) { %>
        <div class="notification">
          <div class="notification_avatar_div">
            <img src="http://localhost:3000/images/<%= notifications[i].avatar %>" width="50" height="40" class="notification_avatar">
          </div>

          <div class="notification_div_right">
            <p><a href="http://localhost:3000/profile/<%= notifications[i].username %>" class="notification_username">
              <b><%= notifications[i].username %></b></a> has commented on your 
              <a href="http://localhost:3000/profile#<%= notifications[i].post_id %>" class="notification_post_link"><b>post</b></a>.</p>

            <p class="notification_timestamp"><%= notifications[i].timestamp %></p>
          </div>
        </div>
      <% } %> 

      <%if (notifications.length == 0) { %>
        <div class="notification">
          <p>You have no notifications.</p>
        </div>
      <% } %>
    </div>


    <br><br>


    <div class="input_post_div">
      <form action="/homepage" method="post">
        <input type="post_text" id="user_post" class="input" name="user_post" placeholder="Enter a post" onkeyup="myFunction()"><br><br>
        <input type="submit" id="submit_button" value="Submit">
      </form>
    </div>



    <p id="demo"></p>

    

<!--
    <div class="topic_image">
      <h3 class="post_user">User1</h3>

      <p class="post_text">Text1</p>
      <img src="http://localhost:3000/images/nature.jpg" alt="Image" class="img">
    </div>



    <div class="topic_image">
      <h3 class="post_user">User2</h3>

      <p class="post_text">Text2</p>
      <img src="http://localhost:3000/images/nature_lake.jpg" alt="Image" class="img">
    </div>-->
  


  
    <% for(var j=0; j < user_posts.length; j++) { %>
    <div class="topic">
      <div class="small_avatar_div">
        <img src="http://localhost:3000/images/<%=user_posts[j].avatar%>" width="50" height="40" class="small_avatar">
      </div>

      <div class="post_username_div">
        <div class="post_user_div">
          <a href="http://localhost:3000/profile/<%= user_posts[j].username %>" class="post_user"><b><%= user_posts[j].username %></b></a>
        </div>

        <%if (user_posts[j].username == username) { %>
          <div class="p_delete">
            <button class="deletebtn" onclick="test('<%= user_posts[j].post_text %>','<%= user_posts[j].timestamp %>', '<%= user_posts[j].post_id %>', '<%= j %>', this)">Delete</button>
          </div>
        <% } %> 
      </div>


      <p class="post_text"><%= user_posts[j].post_text %></p>

      <p class="timestamp"><%= user_posts[j].timestamp %></p>


      <hr>
      <div class="comments_div">
        <button class="comments" onclick="toggle_visibility('<%= j %>')">Comments (<%= comments_num[user_posts[j].post_id] %>)</button>
      </div>
      <hr>



      <div class="comment_section" style="display:none">
        <% for(var i=0; i < user_comments.length; i++) { %>
          <%if (user_posts[j].post_id == user_comments[i].post_id) { %>
            <div class="comment_avatar_div">
              <img src="http://localhost:3000/images/<%= user_comments[i].avatar %>" width="50" height="40" class="comment_avatar">
            </div>

            <div class="comment">
              <div class="comment_username_div">
                <a class="comment_username" href="http://localhost:3000/profile/<%= user_comments[i].username %>" ><b><%= user_comments[i].username %></b></a>
              </div>

              <%if (user_comments[i].username == username) { %>
                <div class="comment_delete_div">
                  <button class="comment_delete" onclick="test3('<%= user_comments[i].user_comment %>','<%= user_comments[i].timestamp %>', '<%= user_comments[i].post_id %>', '<%= i %>', this)">Delete</button>
                </div>
              <% } %> 

              <p class="comment_text"><%= user_comments[i].user_comment %></p>
              <p class="comment_timestamp"><%= user_comments[i].timestamp %></p>
            </div>
          <% } %>
        <% } %> 
      </div>




      <div class="div_comment_input" style="width: 100%;">
        <div class="t">
          <input type="comment_text" class="user_comment" placeholder="Write a comment" onkeyup="myFunction2()"/>
        </div>

        <!--<input type="button" class="comment_button" onclick="test2('<%= user_posts[j].username %>', '<%= user_posts[j].post_text %>','<%= user_posts[j].timestamp %>', '<%= user_posts[j].post_id %>', '<%= j %>', document.getElementsByClassName('user_comment')['<%=j%>'].value, this)" value="Send" />-->

        <button class="comment_button" onclick="test2('<%= user_posts[j].username %>', '<%= user_posts[j].post_text %>','<%= user_posts[j].timestamp %>', '<%= user_posts[j].post_id %>', '<%= j %>', document.getElementsByClassName('user_comment')['<%=j%>'].value, this)">Send</button>
      </div>


    </div>
    <% } %>



    <script>
      $(document).ready(function() {
        $(".bell").click(function (e) {
          e.stopPropagation();
          $('div#notifications').toggle();
        });
        $('body').click(function () {
          $('div#notifications').hide();
        });
      });

      

      //var input = document.querySelector(".input");
      var submit_button = document.getElementById("submit_button");
      submit_button.disabled = true;
      submit_button.style.cursor = "default";

      /*input.addEventListener("change", stateHandle);

      function stateHandle() {
        if (document.querySelector(".input").value === "") {
          button.disabled = true;
          button.style.cursor = "default";
        } else {
          button.disabled = false;
          button.style.cursor = "pointer";
        }
      }*/

      function myFunction() {
        var user_post = document.getElementById('user_post').value;

        if (user_post === "") {
            submit_button.disabled = true;
            submit_button.style.cursor = "default";
        } else {
        		submit_button.disabled = false;
            submit_button.style.cursor = "pointer";
        }
      }



      var comment_input = document.getElementsByClassName("user_comment");
      var comment_button = document.getElementsByClassName("comment_button");

      for (var i = 0; i < comment_button.length; i++) {
        comment_button[i].disabled = true;
        comment_button[i].style.cursor = "default";
      }

      //document.querySelectorAll(".comment_button").forEach(e => e.disabled = true);
      //document.querySelectorAll(".comment_button").forEach(e => e.style.cursor = "default");

      //$(".comment_button").prop('disabled', true);


      for (let i = 0; i < comment_input.length; i++) {
        comment_input[i].addEventListener("keyup", function() { stateHandle2(i); });
      }


      function stateHandle2(i) {
        //document.getElementById("demo").innerHTML = document.getElementsByClassName("user_comment")[i].value;

        if(document.getElementsByClassName("user_comment")[i].value === ""){
          //document.getElementById("demo").innerHTML = i;
          comment_button[i].disabled = true;
          comment_button[i].style.cursor = "default";
        }else{
          //document.getElementById("demo").innerHTML = i;
          comment_button[i].disabled = false;
          comment_button[i].style.cursor = "pointer";
        }
      }



      var toggle_visibility = function(j) {
        var comments = document.getElementsByClassName("comment_section");

        if(comments[j].style.display == 'block')
          comments[j].style.display = 'none';
        else
          comments[j].style.display = 'block';
      }


      var username = '<%-username%>';
      var text = "";
      var time = "";
      var comment = "";
      var post_user = "";
      var p_id = "";
      var user_cmnt = "";
      var tmp = "";
      var pt_id = "";


      var test = function(post_text, timestamp, post_id, j, object) {
        //object.innerHTML= post_text;
        text = post_text;
        time = timestamp;
        p_id = post_id;

        /*var y = document.getElementsByClassName("topic");
        y[j].style.display = 'none';*/
      };


      var test2 = function(post_username, post_text, timestamp, post_id, j, user_comment, object) {
        post_user = post_username;
        text = post_text;
        time = timestamp;
        p_id = post_id;
        comment = user_comment;
      }


      var test3 = function(user_comment, timestamp, post_id, i, object){
        user_cmnt = user_comment;
        tmp = timestamp;
        pt_id = post_id;
      }
 

      $(document).ready(function(){
        $(".deletebtn").click(function(){
          $.post("/delete_post",
          {
            name: username,
            post_text: text,
            timestamp: time,
            post_id: p_id
          },
          function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
            location.reload(true);
          });
        });
      });

      $(document).ready(function(){
        $(".comment_button").click(function(){
          $.post("/homepage_comment",
          {
            name: username,
            post_username: post_user,
            post_text: text,
            timestamp: time,
            post_id: p_id,
            user_comment: comment
          },
          function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
            location.reload(true);
          });
        });
      });

      $(document).ready(function(){
        $(".comment_delete").click(function(){
          $.post("/comment_delete",
          {
            name: username,
            user_comment: user_cmnt,
            timestamp: tmp,
            post_id: pt_id
          },
          function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
            location.reload(true);
          });
        });
      });

    </script>




    <br><br><br><br>

    <br>
    <div class="bottomnav">
      <br>
    </div>
    
  </body>
</html>
