<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:3000/">Home</a>
      <a class="active" href="http://localhost:3000/signup" style="float: right;">Sign up</a>
    </div>


    <br><br><br>
    <form class="modal-content animate" action="/" method="post">
    <div class="login">
      <h1>Login</h1>
      <br><br>

      <h3>Username:</h3>
      <input type="text" id="username" placeholder="Enter Username" name="uname" required>

      <h3>Password:</h3>
      <input type="password" id="password" placeholder="Enter Password" name="psw" required>

      <br><br><br>
      <button class="login_button" type="submit" onclick="return validateform()">Login</button>
    </div>
    </form>



    <br><br>
    <div id='status' class='invisible'><%= errormessage %></div>


    <script>
      //if($('div#status').text()!=''){
        //alert($('div#status').text());
        $("#status").show();
      //}
    </script>


    <script type="text/javascript">
      function validateform(){   
        console.log("Validateform");

        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        console.log("Username:", username);
        console.log("Password:", password);
          
        if (username==null || username==""){  
          alert("Name can't be blank");  
          return false;  
        }else if(password.length<6){  
          alert("Password must be at least 6 characters long.");  
          console.log(password);
          return false;  
        }  
      }  
    </script>



    <br>
    <div class="bottomnav">
      <br>
    </div>
    
  </body>
</html>
