<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:3000/">Home</a>
    </div>


    <br><br>
    <h1 style="margin-left: 30px; text-align: center;">Registration was successful.</h1>




    <br>
    <div class="bottomnav">
      <br>
    </div>
    
  </body>
</html>
