<!DOCTYPE html>
<html>
  <head>
    <title> App </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:3000/">Home</a>
    </div>

    <br>

    <form action="/signup" style="margin-left: 200px; margin-right: 250px" method="post">
      <div class="container_signup">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <br>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="pswRepeat" required>
        
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
        
    
        <div class="clearfix">
          <button class="cancel_button" type="button" class="cancelbtn">Cancel</button>
          <button class="signup_button" type="submit" class="signupbtn" onclick="return validateform()">Sign Up</button>
        </div>
      </div>
    </form>


    <script type="text/javascript">
      function validateform(){   
        console.log("Validateform");

        var password = document.getElementById("password").value;

        console.log("Password:", password);
          
        if(password.length<6){  
          alert("Password must be at least 6 characters long.");  
          console.log(password);
          return false;  
        }  
      }  
    </script>
 
  

    <br><br><br>
    <div class="bottomnav">
      <br>
    </div>

  </body>
</html>
