<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:3000/">Home</a>
    </div>


    <br>

    <div class="profile">
      <h1>Profile</h1>
      <br>
      <img src="http://localhost:3000/images/profile_photo.png" width="400" height="300">

      <form action='/profile' method="post" enctype="multipart/form-data">
        <input type='file' name='image' />
      </form>

      <br>

      <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
        <div>
            <label>Select your profile picture:</label>
            <input type="file" name="profile_pic" />
        </div>
        <div>
            <input type="submit" name="btn_upload_profile_pic" value="Upload" />
        </div>
    </form>

      <h3>Username:</h3>
      <h3>E-mail:</h3>
    




    <br><br>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div> 
           <label>Select your profile picture:</label> <input type="file"   name="image" />
        </div>
        <div> 
            <input type="submit" name="btn_upload_profile_pic" value="Upload" /> 
        </div>
    </form>


    </div>



    <br>
    <div class="bottomnav">
      <br>
    </div>
    
  </body>
</html>
