<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://localhost:3000/homepage">Home</a>
      <!--<img src="http://localhost:3000/icons/white_bell.png" width="50" height="40" class="bell">-->
    </div>


    <div class="profile">

      <br><br>
  
      <div class="avatarDiv">

        <form method="POST" action="/profile" enctype="multipart/form-data">
          <div class="container">           
            <img src="http://localhost:3000/images/<%= avatar %>" alt="Avatar" class="image" width="400" height="300">    
          </div>

        </form>

        
        <h2>Username: <%= username %></h2>

      </div>


      <br><br><br>
            
    </div>


    <br>


    <% for(var j=0; j < user_posts.length; j++) { %>
      <div class="topic">
        <div class="small_avatar_div">
          <img src="http://localhost:3000/images/<%=user_posts[j].avatar%>" width="50" height="40" class="small_avatar">
        </div>
  
        <div class="post_username_div">
          <div class="post_user_div">
            <a href="http://localhost:3000/profile/<%= user_posts[j].username %>" class="post_user"><b><%= user_posts[j].username %></b></a>
          </div>
        </div>
  
  
        <p class="post_text"><%= user_posts[j].post_text %></p>
  
        <p class="timestamp"><%= user_posts[j].timestamp %></p>
  
  
        <hr>
        <div class="comments_div">
          <button class="comments" onclick="toggle_visibility('<%= j %>')">Comments (<%= comments_num[user_posts[j].post_id] %>)</button>
        </div>
        <hr>
  
  
  
        <div class="comment_section" style="display:none">
          <% for(var i=0; i < user_comments.length; i++) { %>
            <%if (user_posts[j].post_id == user_comments[i].post_id) { %>
              <div class="comment_avatar_div">
                <img src="http://localhost:3000/images/<%= user_comments[i].avatar %>" width="50" height="40" class="comment_avatar">
              </div>
  
              <div class="comment">
                <div class="comment_username_div">
                  <a class="comment_username" href="http://localhost:3000/profile/<%= user_comments[i].username %>" ><b><%= user_comments[i].username %></b></a>
                </div>
  
                <%if (user_comments[i].username == user) { %>
                  <div class="comment_delete_div">
                    <button class="comment_delete" onclick="test3('<%= user_comments[i].user_comment %>','<%= user_comments[i].timestamp %>', '<%= user_comments[i].post_id %>', '<%= i %>', this)">Delete</button>
                  </div>
                <% } %> 
  
                <p class="comment_text"><%= user_comments[i].user_comment %></p>
                <p class="comment_timestamp"><%= user_comments[i].timestamp %></p>
              </div>
            <% } %>
          <% } %> 
        </div>
      
  
  
        <div class="div_comment_input" style="width: 100%;">
          <div class="t">
            <input type="comment_text" class="user_comment" placeholder="Write a comment" />
          </div>
  
          <!--<input type="button" class="comment_button" onclick="test2('<%= user_posts[j].username %>', '<%= user_posts[j].post_text %>','<%= user_posts[j].timestamp %>', '<%= user_posts[j].post_id %>', '<%= j %>', document.getElementsByClassName('user_comment')['<%=j%>'].value, this)" value="Send" />-->
  
          <button class="comment_button" onclick="test2('<%= user_posts[j].username %>', '<%= user_posts[j].post_text %>','<%= user_posts[j].timestamp %>', '<%= user_posts[j].post_id %>', '<%= j %>', document.getElementsByClassName('user_comment')['<%=j%>'].value, this)">Send</button>
        </div>
        
  
  
      </div>
    <% } %>



    <script>
      var comment_input = document.getElementsByClassName("user_comment");
      var comment_button = document.getElementsByClassName("comment_button");

      for (var i = 0; i < comment_button.length; i++) {
        comment_button[i].disabled = true;
        comment_button[i].style.cursor = "default";
      }


      for (let i = 0; i < comment_input.length; i++) {
        comment_input[i].addEventListener("keyup", function() { stateHandle2(i); });
      }


      function stateHandle2(i) {
        //document.getElementById("demo").innerHTML = document.getElementsByClassName("user_comment")[i].value;

        if(document.getElementsByClassName("user_comment")[i].value === ""){
          //document.getElementById("demo").innerHTML = i;
          comment_button[i].disabled = true;
          comment_button[i].style.cursor = "default";
        }else{
          //document.getElementById("demo").innerHTML = i;
          comment_button[i].disabled = false;
          comment_button[i].style.cursor = "pointer";
        }
      }




      var toggle_visibility = function(j) {
        var comments = document.getElementsByClassName("comment_section");

        if(comments[j].style.display == 'block')
          comments[j].style.display = 'none';
        else
          comments[j].style.display = 'block';
      }



      var username = '<%-username%>';
      var text = "";
      var time = "";
      var comment = "";
      var post_user = "";
      var p_id = "";
      var user_cmnt = "";
      var tmp = "";
      var pt_id = "";



      var test2 = function(post_username, post_text, timestamp, post_id, j, user_comment, object) {
        post_user = post_username;
        text = post_text;
        time = timestamp;
        p_id = post_id;
        comment = user_comment;
      }


      var test3 = function(user_comment, timestamp, post_id, i, object){
        user_cmnt = user_comment;
        tmp = timestamp;
        pt_id = post_id;
      }
 


      $(document).ready(function(){
        $(".comment_button").click(function(){
          $.post("/homepage_comment",
          {
            name: username,
            post_username: post_user,
            post_text: text,
            timestamp: time,
            post_id: p_id,
            user_comment: comment
          },
          function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
            location.reload(true);
          });
        });
      });

      $(document).ready(function(){
        $(".comment_delete").click(function(){
          $.post("/comment_delete",
          {
            name: username,
            user_comment: user_cmnt,
            timestamp: tmp,
            post_id: pt_id
          },
          function(data,status){
            //alert("Data: " + data + "\nStatus: " + status);
            location.reload(true);
          });
        });
      });
    </script>



    <br><br><br>
    <div class="bottomnav">
      <br>
    </div>
    
  </body>
</html>
