/*NOTIFICATIONS*/

.bell {
  vertical-align: middle;
  object-fit: cover;
  width: 20px;
  height: 20px;
  margin-top: 22px;
  margin-left: 35px;
  cursor: pointer;
}
  
.notifications {
  width: 20%;
  position: absolute;
  z-index: 1000; 
  margin-left: 40px;
}
  
.notification {
  padding-left: 10px;
  padding-right: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color:rgb(218, 220, 226);
}
  
.notification:hover {
  background-color:rgb(230, 233, 236);
}
  
.notification_avatar_div {
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 10px;
  float: left;
}
  
.notification_avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
  
.notification_div_right {
  margin-left: 50px;
}
  
.notification_username {
  color: black;  
  text-decoration: none;
}

.notification_post_link {
  color: black;
  text-decoration: none;
}

.notification_timestamp {
  font-size: 12px;
}