body {
  /*padding: 0px;*/
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*default*/
  background-color: rgb(249, 250, 253);
  /*background-color: rgb(199, 200, 204);*/
  /*background-color: rgb(195, 195, 204);*/
}

a {
  color: #00B7FF;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 26px;
}

.bottomnav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 5px;
}


/* Set a style for all buttons */
/*button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}*/

/*
.active {
  background-color: rgb(30, 80, 155);
}*/



/*LOGIN*/

.login {
  /*padding: 50px;*/
  width: 400px;
  margin:0 auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login_button:hover {
  opacity: 0.8;
}

.invisible {
  text-align: center;
  /*display: none;
  visibility: hidden;*/
}



/*SIGNUP*/

.container_signup {
  width: 100%;
}

.signup_button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup_button:hover {
  opacity: 0.8;
}

.cancel_button {
  background-color: rgb(216, 64, 64);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cancel_button:hover {
  opacity: 0.8;
}



input[type=submit] {
  /*background-color: #4CAF50;*/
  /*background-color: #656566ef;*/
  background-color: #606069ef;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=post_text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=comment] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0;
  /*display: inline-block;*/
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
}



/*PROFILE*/

.profile {
  background-color: rgb(230, 232, 235);
}

.avatarDiv {
  text-align: center;
}


/*PROFILE PHOTO UPLOAD*/
.container {
  position: relative;
  width: 400px;
  margin: auto;

  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

  /*vertical-align: middle;*/
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /*position: relative;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 17px;
  padding: 16px 32px;
}



/*
input[type=file] {
  background-color: #656566ef;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}*/

/*
.avatar {
  vertical-align: middle;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;

  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
*/


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/*POSTS*/

.input_post_div {
  border-style: solid;
  border-width: 1px;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color:rgb(218, 220, 226);
  /*background-color: white;*/
  /*background-color: rgb(219, 219, 223);*/
}

.topic_image {
  border-style: solid;
  border-width: 1px;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color:rgb(218, 220, 226);
  /*background-color: white;*/
}

.topic {
  border-style: solid;
  border-width: 1px;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color:rgb(218, 220, 226);
  /*background-color: rgb(219, 219, 223);*/
}

.post_user {
  font-family: "Times New Roman", Times, serif;
  /*font-family: Georgia, serif;*/
  font-size: 20px;
}


.post_user_div {
  padding-top: 20px;
}

.post_user_div a{
  color: black;
  text-decoration: none;
}

.post_user_div a:hover {
  color: rgb(111, 112, 124);
  text-decoration: none;
}

.post_text {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
  /*font-family: Georgia, serif;*/
  font-size: 16px;
  /*padding-top: 10px;*/
  word-wrap: break-word;
}

/*
img {
  max-width: 100%;
  margin: auto;
  display: block;
}*/

img{
  width: 100%;
  object-fit: contain;
}


.small_avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.small_avatar_div {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  float: left;
}


.post_username_div {
  margin-left: 20px;
  position: relative;
}


.p_delete {
  position: absolute;
  top: 0px;
  right: 9px;
}

.timestamp {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 38px;
  margin-bottom: 5px;
  font-size: 10px;
}

.deletebtn {
  /*background-color:rgb(140, 145, 153);*/
  background-color:rgb(214, 29, 29);
  color: white;
  padding: 9px 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.deletebtn:hover {
  opacity: 0.8;
}

.myposts {
  margin-left: 450px;
}



/*COMMENTS*/

.comments {
  margin-left: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color:rgb(218, 220, 226);
  outline: none;
}

.comments_div a {
  color: black;
  text-decoration: none;
}

.comment_avatar_div {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.comment_avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}



.comment {
  /*background-color:rgb(160, 164, 170);*/
  margin-left: 60px;
  margin-right: 20px;
  margin-bottom: 18px;
}

.comment_username {
  font-size: 15px;
}

.comment_text {
  font-size: 14px;
  word-wrap: break-word;
}

.comment_timestamp {
  font-size: 10px;
  margin-top: 20px;
}

.comment_username_div a {
  color: black;
  text-decoration: none;
}

.comment_username_div a:hover {
  color: rgb(111, 112, 124);
  text-decoration: none;
}

/*
.comment_delete_div {
  position: absolute;
  top: 0px;
  right: 0px;
}*/

.comment_delete {
  /*background-color:rgb(140, 145, 153);*/
  background-color:rgb(214, 29, 29);
  color: white;
  padding: 8px 8px;
  margin: 8px 0;
  font-size: 13px;
  border: none;
  cursor: pointer;

  display:block;
  float:right;
}

.comment_delete:hover {
  opacity: 0.8;
}



.div_comment_input {
  display: table; 
  margin-top: 4px; 
  margin-bottom: 5px;
  padding: 0px;
}

div.t {
  display: table-cell;
  width: 100%;
}

div.t > input {
  width: 100%;
  margin: 0px;
  box-sizing: border-box; 
}


input[type=comment_text] {
  padding: 12px 20px;
  margin: 8px 0 0;
}


.comment_button {
  color: white;
  padding: 14px 20px;
  border: none;
  /*cursor: pointer;*/

  background-color:rgb(102, 108, 126);
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: #333;
}

.comment_button:hover {
  opacity: 0.8;
}




.label_file {
  background-color: rgb(18, 19, 129);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

